@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
/*#8D6F20 font-family:"Meow Script", cursive,*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

:root {
    --cbtn: #00ff08;
    --cprimary: #9b751c;
    --text: #000;
    --cbg: #111;
    --clr: #eee;
    --corc: #343333;
    --cbr: #fff;

  }

body {
  font-family: "Exo 2", sans-serif;
  background: var(--cbg);
  color: var(--clr);
  line-height: 1.6;
  margin:  0 auto;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: space-between;
  align-items: end;
  padding: 1rem 2rem;
  & img {
    width: 100%;
    max-width: 150px;
  }
}

section, .vantagen, .contato, .sobre {
  scroll-margin-top:  150px;
}

.quem-somos {
  background-color: var(--cbr);
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: space-between;
  align-items: self-start;
  padding: 1rem 2rem;
  border: solid 2px var(--cprimary);
  border-radius: 5px;
  width: 100vh;
}

.dourado {
  color: var(--cprimary);
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  & .eiffel {
    background-image: url('eiffel.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1000px;
    padding-top: 56.25%;
    border: solid 2px var(--cprimary);
    border-radius: 5px;
  }

}

.va-nt {
  background-color: var(--cbr);
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 5px;
  width: 50%;
  border: solid 2px var(--cprimary);
  margin-bottom: 20px;
}

.vantagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

header {
  background: #000;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: var(--cbr);
  font-size: 1.8rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav a {
  color: var(--cbr);
  text-decoration: none;
  font-weight: 700;
  position: relative;
  transition: color 0.3s ease;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--cprimary);
  transition: width 0.3s ease;
}

nav a:hover {
  color: var(--cprimary);
  transform: scale(1.05);
}

nav a:hover::after {
  width: 100%;
}

.hero {
  background: url('img-komt1.jpeg') center/cover no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  opacity: 0.9;
}

.hero-text h2 {
  z-index: 1000;
  font-family: 'Orbitron', sans-serif;
  margin-top: -100px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: var(--cprimary);
  border-radius: 5px;
  padding: 0 20px;
}

.hero-text p {
  margin-top: 30px;
  font-size: 1.5rem;
  color: var(--cprimary);
  background-color: var(--cbr);
  border-radius: 5px;
  text-align: center;
  padding: 0 auto;
}

.hero-text h3 {
  font-family: 'Orbitron', sans-serif;
  margin-top: 80px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: var(--cprimary);
  border-radius: 5px;
  text-align: center;
  padding: 0 auto;
}

.hero-text .btn {
  margin-top: 50px;
  background-color:  var(--cbtn);
  color: #000000; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; 
  border: none; 
  border-radius: 5px; 
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
  transition: box-shadow 0.3s ease-in-out; 
}

.hero-text .btn:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.4); 
}

/* Efeito Pulsar */
@keyframes pulsate {
  0% {
      transform: scale(1);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  50% {
      transform: scale(1.1);
      box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.4);
  }
  100% {
      transform: scale(1);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.hero-text .btn {
  animation: pulsate 2s infinite;
}

.services, .stylists, .availability {
  padding: 2rem;
  text-align: center;
}

.service-list, .stylist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.prevent {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(255, 211, 122, 0.5);
  text-decoration: underline var(--cprimary);
  letter-spacing: 3px;
}

.secao-video {
  position: relative;
  width: 100%;
  height: 400px;
  /* ou qualquer altura que você quiser */
  overflow: hidden;
  margin-top: 20px;
}

.secao-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 0;
}

.conteudo {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 14px;
  z-index: 1;
  color: white;
  text-align: center;

}

.conteudo .service {
  padding: 0;
  width: 13vw;
  height: 40vh;
}

@media(max-width:1000px) { 
  .conteudo .service {
  display: none;

}

}

#limpeza1 {
  background-image: url('limpeza1.jpeg');
  background-size: cover;
}

#limpeza2 {
  background-image: url('limpeza2.jpeg');
  background-size: cover;
}

#limpeza3 {
  background-image: url('limpeza3.jpeg');
  background-size: cover;
}

#limpeza4 {
  background-image: url('limpeza4.jpeg');
  background-size: cover;
}

.projeto1 {
  transition: 0.6s;
}

.projeto1:hover {
  scale: 1.3;
}

#eng {
  background-image: url('inversor4.jpeg');
  background-size: cover;
}

#ele {
  background-image: url('projeto1.jpeg');
  background-size: cover;
}

#fot {
  background-image: url('img-fundo.jpeg');
  background-size: cover;
}

#lau {
  background-image: url('termo1.jpeg');
  background-size: cover;
}

.top {
  position: relative;
  bottom: 80px;
  margin: 0;
  padding: 0;
 
}

.service-list {
  font-family: 'orbitron', sans-serif;
  color: var(--cprimary);
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
  font-weight: 600;
  letter-spacing: 2px;

}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service {
  margin-top: 100px;
  background: #222;
  padding: 1rem;
  border-radius: 5px;
  width: 250px;
  height: 200px;
}

.stylist {
  text-align: center;
}

.stylist img {
  width: 100%;
  padding-top: 50.25%;
  max-width: 350px;
  border-radius: 10%;
}

.availability .btn {
  margin-top: 1rem;
  background:var(--cprimary);
  color: var(--text);
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
}

.projetos {
  display: flex;
  justify-content: center;
}

.projetos .grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  margin-top: 2rem;
}

.card {
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--card);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(240, 165, 0, 0.2);
  & img {
    max-width: 350px;
    width: 100%;
  }
  & p {
    margin: 10px 0;
  }
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(240, 165, 0, 0.4);
}

@media (min-width: 1000px) { .projetos .grid {
  grid-template-columns: repeat(2, 1fr);
}
}

footer {
  position: relative;
  background: var(--text);
  text-align: center;
  padding: 150px 1rem 1rem;
  font-size: 0.9rem;

}

.waooo {
  top: -1px;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  line-height: 0;
}

.waooo svg {
  display: block;
  width: 100%;
  height: 100%;
}

.wave {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  display: block;
  width: 100%;
  height: 100%;
}

.fa-plug-circle-bolt{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0%;
  left: 10%;
  background-color: var(--corc);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px var(--cbr);
}

.fa-location-dot{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50%;
  right: 10%;
  background-color: var(--corc);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px var(--cbr);
}

.fa-solar-panel{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60%;
  right: 50%;
  background-color: var(--corc);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px var(--cbr);
}
 

@media (max-width: 1000px) {
  .container {
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
  }
  .container h1 {
    font-size: 10px;  
    padding-left:0;
   }

   .container img {
    width: 50px;

  }
  .container nav ul {
    font-size: 10px;
    flex-direction: row;
    align-items: center;
 
    padding: 0;
    gap: 1rem;
  }
  .service-list, .stylist-list {
    flex-direction: column;
    align-items: center;
  }

  .hero-text h2 {
    top: -85px;
    font-size: 1.0rem;
    padding: 0 1rem;
  }
  .hero-text p {
    top: -50px;
    font-size: 1.0rem;
    padding: 0 1rem;
  }
  
  .hero-text h3 {
    top: 90px;
    font-size: 1.0rem;
    padding: 0 1rem;
  }

   .container .icon {
    right: 35%;
  }
} 

@media (max-width: 400px) {
  .container {
    flex-direction: column;
    gap: 0px;
  }
  .container h1 {
    font-size: 12px;
     
   }
   .container img {
     width: 50px;
  }
  .container nav ul {
    font-size: 10px;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .service-list, .stylist-list {
    flex-direction: column;
    align-items: center;
  }

  .hero-text h2 {
    top: -85px;
    font-size: 1.0rem;
    padding: 0 1rem;
  }
  .hero-text p {
    top: -50px;
    font-size: 1.0rem;
    padding: 0 1rem;
  }
  
  .hero-text h3 {
    top: 150px;
    font-size: 1.0rem;
    padding: 0 1rem;
  }
  
  .container .icon {
    right: 75%;
    top: 72%;
  }
  
}


.conj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:20px;
  width: 100%;
  align-items: start;
  padding: 1rem 2rem;
  font-size: 0.2rem;
  border: solid 2px var(--cprimary);
  
}

@media screen and (max-width:1000px){.social-icons {
  flex-direction: column;
  gap: 15px;
}} 

@media screen and (max-width:1000px){.rodape {
position: relative;
bottom: 0;

}} 

.social-icons a {
  font-size: 30px;
  color: var(--cbr);
  text-decoration: none;
  transition: 0.3s;
  font-size: 0.9rem;
  transition: color 0.3s;
  transition: 0.8s;
}

.social-icons i {
    font-size: 5vh;
    padding: 15px;
    transition: color 0.3s;
    transition: 0.8s;
}


.social-icons a:hover {
  transform: scale(1.2);
  text-decoration: underline;
  color: var(--cprimary);
}

.fa-instagram:hover {
  transform: scale(1.5);
  color: #E4405F;
}

.fa-envelope:hover {
  transform: scale(1.5);
  color: #6aa6f6;
}

.fa-map-location-dot:hover {
  transform: scale(1.5);
  color: #f04c00;
}

.fa-whatsapp:hover {
  transform: scale(1.5);
  color: var(--cbtn);
}

.fa-location-dot:hover {
  transform: scale(1.5);
  color: var(--cbr);
}

.btn {
  position: relative;
  top: 10px;
  font-weight: 800;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.fa-plug-circle-bolt{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 70%;
  left: 10%;
  background-color: var(--corc);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px var(--cbr);
}

.solar .fa-location-dot{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50%;
  right: 10%;
  background-color: var(--corc);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px var(--cbr);
}

.fa-solar-panel{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60%;
  right: 50%;
  background-color: var(--corc);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px var(--cbr);
}

@media screen and (max-width:1000px){.fa-plug-circle-bolt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 77%;
  left: 10%;
  background-color: var(--corc);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px var(--cbr); 
  }
} 
  
@media screen and (max-width:1000px){.solar .fa-location-dot {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50%;
  right: 10%;
  background-color: var(--corc);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px var(--cbr); 
  }
} 

@media screen and (max-width:1000px){.fa-solar-panel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 59%;
  right: 50%;
  background-color: var(--corc);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px var(--cbr); 
  }
} 

@media screen and (max-width:400px){.fa-plug-circle-bolt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 77%;
  left: 10%;
  background-color: var(--corc);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px var(--cbr); 
  }
} 
  
@media screen and (max-width:400px){.solar .fa-location-dot {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60%;
  right: 10%;
  background-color: var(--corc);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px var(cbr); 
  }
} 

@media screen and (max-width:400px){.fa-solar-panel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 65%;
  right: 50%;
  background-color: var(--corc);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px var(--cbr); 
  }
} 

.contato i {
  color:var(--cprimary);
  }

  .stylists .btn {
    margin-top: 1rem;
    background: var(--cprimary);
    color: #000;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
  }

   .services .btn {
    margin-top: 1rem;
    background: var(--cprimary);
    color: #000;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
  }

  .stylists img {
    margin-top: 30px;
  }

  .container-vat {
    font-family: 'Orbitron', sans-serif;
    margin: 58px 0;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(255, 211, 122, 0.5);
    text-decoration: underline var(--cprimary);
    letter-spacing: 3px;
  }

  .container-proj {
    scroll-margin-top:  150px;
    font-family: 'Orbitron', sans-serif;
    margin-top: 100px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(255, 211, 122, 0.5);
    text-decoration: underline var(--cprimary);
    letter-spacing: 3px;
  }

  .container-cont {
    scroll-margin-top:  150px;
    font-family: 'Orbitron', sans-serif;
    margin-top: 100px;
    margin-bottom: 10PX;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(255, 211, 122, 0.5);
    text-decoration: underline var(--cprimary);
    letter-spacing: 3px;
  }

  @media (max-width: 1000px) {
    .sobre {
    scroll-margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  }
  @media (max-width:  1000px) {
    .quem-somos {
    display: flex;
    width: 100%;
    border: solid 2px var(--cprimary);
    border-radius: 5px;

    }
  }
  
  @media (max-width:  1000px) {
    .eiffel {
    background-image: url('eiffel.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 500px;
    padding-top: 56.25%;
    border: solid 2px var(--cprimary);
    border-radius: 5px;
    }
  }

  @media (max-width: 400px) {
    .sobre {
    scroll-margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  }
  @media (max-width: 400px) {
    .quem-somos {
    display: flex;
    width: 100%;
    border: solid 2px var(--cprimary);
    border-radius: 5px;

    }
  }
  
  @media (max-width: 400px) {
    .eiffel {
    background-image: url('eiffel.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 500px;
    padding-top: 56.25%;
    border: solid 2px var(--cprimary);
    border-radius: 5px;
    }
    
  }

  @media (max-width: 1000px) {
    .hero-text .btn {
      background-color:  var(--cbtn);
      color: var(--text); 
      padding: 15px 32px; 
      text-align: center; 
      text-decoration: none; 
      display: inline-block; 
      font-size: 16px; 
      cursor: pointer; 
      border: none; 
      border-radius: 5px; 
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
      transition: box-shadow 0.3s ease-in-out; 
    }
    
    .hero-text .btn:hover {
      box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.4); 
    }
    
    /* Efeito Pulsar */
    @keyframes pulsate {
      0% {
          transform: scale(1);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
      50% {
          transform: scale(1.1);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.4);
      }
      100% {
          transform: scale(1);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
    }
    
    .hero-text .btn {
      animation: pulsate 2s infinite;
    }
  }

  @media (max-width: 400px) {
  .hero-text .btn {
    background-color: var(--cbtn);
    color: var(--cbr); 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border: none; 
    border-radius: 5px; 
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease-in-out; 
  }
  
  .hero-text .btn:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.4); 
  }
  
  /* Efeito Pulsar */
  @keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.4);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }
  
  .hero-text .btn {
    animation: pulsate 2s infinite;
  }
}

@media (max-width: 1000px) {
  .va-nt {
  display: flex;
  width: 100%;
  border: solid 2px var(--cprimary);
  border-radius: 5px;

  }
}

@media (max-width: 1000px) {
 .vantagen { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  }
}

@media (max-width: 400px) {
  .va-nt {
  display: flex;
  width: 100%;
  border: solid 2px var(--cprimary);
  border-radius: 5px;

  }
}
@media (max-width: 1000px) { .card { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--card);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(240, 165, 0, 0.2);
  & img {
    max-width: 450px;
    width: 350px;
  }
  & h3 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
 }
}

@media (max-width: 400px) { .card { 
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--card);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(240, 165, 0, 0.2);
  & img{
    max-width: 200px;
    width: 100%;
  }
  & h3 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
 }
}

container {
  position: relative;
}

.icon {
  position: absolute;
  top: 30%; 
  right: 29%;
}
